#about{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 200px;
}
.about--cards{
    display: flex;
    align-items: center;
   gap: 200px;
   padding-bottom: 50px;
}
.about-{
    display: flex;
    align-items: center;
    gap: 10px;
}
.about--title{
    font-size: 35px;
}
@media (max-width:979px) {
    .about--cards{
        flex-wrap: wrap;
        justify-content: center;
    }
    
}