#Pricing{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(248,248,248,1);
}



.Pricing{
    text-align: center;
}
.tt{
    text-align: center;
  

}
.td{
    text-align: center;
    margin-top: 70px;
}